.container {
  /* min-height: 92vh; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  flex-direction: row;
}

.leftPanel,
.rightPanel {
  padding: 1rem;
  height: 80vh;
}

.leftPanel .topSection {
 background-color: rgb(99 99 99 / 12%);
 border-radius: 5px;
 padding: 7px 10px;
 font-size: 12px;
 /* line-height: 3  px; */
}

.rightPanel {
  margin-left: 2rem;
  overflow: hidden;
}

.markdownContent {
  height: 40%;
  overflow-y: auto;
}

/* Responsive Design for Tablet */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .leftPanel,
  .rightPanel {
    width: 100%;
    height: auto;
  }

  .rightPanel {
    margin-left: 0;
    margin-top: 1rem;
  }
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .leftPanel,
  .rightPanel {
    width: 100%;
    margin-bottom: 1rem;
    height: auto;
  }

  .rightPanel {
    margin-left: 0;
  }
}
